* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.background {
    background-color: #e0e0e0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: fondo 15s linear infinite;
}

.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .center {
    /* background-color: brown; */
    width: 6.0rem;
    height: 6.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    animation: centro 5s linear infinite;
}

.container .center .uno {
    background-color: black;
    position: absolute;
    animation: uno 15s linear infinite;
}

.container .center .dos {
    background-color: black;
    position: absolute;
    animation: dos 15s linear infinite;
}

.container .center .tres {
    background-color: black;
    position: absolute;
    animation: tres 15s linear infinite;
}

.container .center .cuatro {
    background-color: black;
    position: absolute;
    animation: cuatro 15s linear infinite;
}

.top {
    background-color: #ffffff;
    position: absolute;
    animation: arriba 15s linear infinite;
}

.bottom {
    background-color: #ffffff;
    position: absolute;
    animation: abajo 15s linear infinite;
}

/* -------------------------------------------------------------- */


@keyframes centro {
    0% {
        transform: rotateX(60deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(60deg) rotateZ(360deg);
    }
}

@keyframes uno {
    0% {
        width: 0rem;
        height: 0rem;
    }

    5% {
        width: 10.0rem;
        height: 10.0rem;
        transform: translateX(0rem);
    }

    10% {
        transform: translateX(10.0rem) rotateY(0deg) translateZ(0rem) translateX(0rem);
    }

    20% {
        transform: translateX(10.0rem) rotateY(-90deg) translateZ(5.0rem) translateX(5.0rem)
        translateZ(0rem) translateX(0rem);
    }

    35% {
        transform: translateX(10.0rem) rotateY(-90deg) translateZ(5.0rem) translateX(5.0rem)
        translateZ(0rem) translateX(0rem);
    }

    40% {
        transform: translateX(10.0rem) rotateY(-90deg) translateZ(5.0rem) translateX(5.0rem)
        translateZ(-5.0rem) translateX(5.0rem);
        background-color: #000000;
    }

    50% {
        transform: translateX(10.0rem) rotateY(-90deg) translateZ(5.0rem) translateX(5.0rem)
        translateZ(-5.0rem) translateX(5.0rem) rotateZ(0deg);
        background-color: #ffffff;
    }

    55%{
        transform: translateX(10.0rem) rotateY(-90deg) translateZ(5.0rem) translateX(5.0rem)
        translateZ(-5.0rem) translateX(5.0rem) rotateZ(360deg);
    }

    60% {
        transform: translateX(10.0rem) rotateY(-90deg) translateZ(5.0rem) translateX(5.0rem)
        translateZ(-0rem) translateX(0rem) rotateZ(360deg);
    }

    75% {
        transform: translateX(10.0rem) rotateY(-90deg) translateZ(5.0rem) translateX(5.0rem)
        translateZ(-0rem) translateX(0rem) rotateZ(360deg);
    }

    80% {
        transform: translateX(10.0rem) rotateY(0deg) translateZ(0rem) translateX(0rem)
        rotateZ(360deg);
    }

    85% {
        transform: translateX(0rem);
        width: 10.0rem;
        height: 10.0rem;
        transform: rotateZ(360deg);
    }

    90% {
        width: 0rem;
        height: 0rem;
        background-color: #ffffff;
        transform: rotateZ(360deg);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes dos {
    0% {
        width: 0rem;
        height: 0rem;
    }

    5% {
        width: 10.0rem;
        height: 10.0rem;
        transform: translateY(0rem);
    }

    10% {
        transform: translateY(10.0rem) rotateX(0deg) translateZ(0rem) translateY(0rem);
    }

    20% {
        transform: translateY(10.0rem) rotateX(90deg) translateZ(5.0rem) translateY(5.0rem)
        translateZ(0rem) translateX(0rem);
    }

    35% {
        transform: translateY(10.0rem) rotateX(90deg) translateZ(5.0rem) translateY(5.0rem)
        translateZ(0rem) translateX(0rem);
    }

    40% {
        transform: translateY(10.0rem) rotateX(90deg) translateZ(5.0rem) translateY(5.0rem)
        translateZ(-5.0rem) translateY(5.0rem);
        background-color: #000000;
    }

    50% {
        transform: translateY(10.0rem) rotateX(90deg) translateZ(5.0rem) translateY(5.0rem)
        translateZ(-5.0rem) translateY(5.0rem) rotateZ(0deg);
        background-color: #ffffff;
    }

    55%{
        transform: translateY(10.0rem) rotateX(90deg) translateZ(5.0rem) translateY(5.0rem)
        translateZ(-5.0rem) translateY(5.0rem) rotateZ(360deg);
    }

    60% {
        transform: translateY(10.0rem) rotateX(90deg) translateZ(5.0rem) translateY(5.0rem)
        translateZ(0rem) translateY(0rem) rotateZ(360deg);
    }

    75% {
        transform: translateY(10.0rem) rotateX(90deg) translateZ(5.0rem) translateY(5.0rem)
        translateZ(0rem) translateY(0rem) rotateZ(360deg);
    }

    80% {
        transform: translateY(10.0rem) rotateX(0deg) translateZ(0rem) translateY(0rem)
        rotateZ(360deg);
    }

    85% {
        transform: translateY(0rem);
        width: 10.0rem;
        height: 10.0rem;
        transform: rotateZ(360deg);
    }

    90% {
        width: 0rem;
        height: 0rem;
        background-color: #ffffff;
        transform: rotateZ(360deg);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes tres {
    0% {
        width: 0rem;
        height: 0rem;
    }

    5% {
        width: 10.0rem;
        height: 10.0rem;
        transform: translateX(0rem);
    }

    10% {
        transform: translateX(-10.0rem) rotateY(0deg) translateZ(0rem) translateX(0rem);
    }

    20% {
        transform: translateX(-10.0rem) rotateY(90deg) translateZ(5.0rem) translateX(-5.0rem)
        translateZ(0rem) translateX(0rem);
    }

    35% {
        transform: translateX(-10.0rem) rotateY(90deg) translateZ(5.0rem) translateX(-5.0rem)
        translateZ(0rem) translateX(0rem);
    }

    40% {
        transform: translateX(-10.0rem) rotateY(90deg) translateZ(5.0rem) translateX(-5.0rem)
        translateZ(-5.0rem) translateX(-5.0rem);
        background-color: #000000;
    }

    50% {
        transform: translateX(-10.0rem) rotateY(90deg) translateZ(5.0rem) translateX(-5.0rem)
        translateZ(-5.0rem) translateX(-5.0rem) rotateZ(0deg);
        background-color: #ffffff;
    }

    55%{
        transform: translateX(-10.0rem) rotateY(90deg) translateZ(5.0rem) translateX(-5.0rem)
        translateZ(-5.0rem) translateX(-5.0rem) rotateZ(360deg);
    }

    60% {
        transform: translateX(-10.0rem) rotateY(90deg) translateZ(5.0rem) translateX(-5.0rem)
        translateZ(0rem) translateX(0rem) rotateZ(360deg);
    }

    75% {
        transform: translateX(-10.0rem) rotateY(90deg) translateZ(5.0rem) translateX(-5.0rem)
        translateZ(0rem) translateX(0rem) rotateZ(360deg);
    }

    80% {
        transform: translateX(-10.0rem) rotateY(0deg) translateZ(0rem) translateX(0rem)
        rotateZ(360deg);
    }

    85% {
        transform: translateX(0rem);
        width: 10.0rem;
        height: 10.0rem;
        transform: rotateZ(360deg);
    }

    90% {
        width: 0rem;
        height: 0rem;
        background-color: #ffffff;
        transform: rotateZ(360deg);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes cuatro {
    0% {
        width: 0rem;
        height: 0rem;
    }

    5% {
        width: 10.0rem;
        height: 10.0rem;
        transform: translateY(0rem);
    }

    10% {
        transform: translateY(-10.0rem) rotateX(0deg) translateZ(0rem) translateY(0rem);
    }

    20% {
        transform: translateY(-10.0rem) rotateX(-90deg) translateZ(5.0rem) translateY(-5.0rem)
        translateZ(0rem) translateY(0rem);
    }

    35% {
        transform: translateY(-10.0rem) rotateX(-90deg) translateZ(5.0rem) translateY(-5.0rem)
        translateZ(0rem) translateY(0rem);
    }

    40% {
        transform: translateY(-10.0rem) rotateX(-90deg) translateZ(5.0rem) translateY(-5.0rem)
        translateZ(-5.0rem) translateY(-5.0rem);
        background-color: #000000;
    }

    50% {
        transform: translateY(-10.0rem) rotateX(-90deg) translateZ(5.0rem) translateY(-5.0rem)
        translateZ(-5.0rem) translateY(-5.0rem) rotateZ(0deg);
        background-color: #ffffff;
    }

    55%{
        transform: translateY(-10.0rem) rotateX(-90deg) translateZ(5.0rem) translateY(-5.0rem)
        translateZ(-5.0rem) translateY(-5.0rem) rotateZ(360deg);
    }

    60% {
        transform: translateY(-10.0rem) rotateX(-90deg) translateZ(5.0rem) translateY(-5.0rem)
        translateZ(0rem) translateY(0rem) rotateZ(360deg);
    }

    75% {
        transform: translateY(-10.0rem) rotateX(-90deg) translateZ(5.0rem) translateY(-5.0rem)
        translateZ(0rem) translateY(0rem) rotateZ(360deg);
    }

    80% {
        transform: translateY(-10.0rem) rotateX(0deg) translateZ(0rem) translateY(0rem)
        rotateZ(360deg);
    }

    85% {
        transform: translateY(0rem);
        width: 10.0rem;
        height: 10.0rem;
        transform: rotateZ(360deg);
    }

    90% {
        width: 0rem;
        height: 0rem;
        background-color: #ffffff;
        transform: rotateZ(360deg);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}


@keyframes arriba {
    0% {
        width: 0rem;
        height: 0rem;
    }

    5% {
        width: 10.0rem;
        height: 10.0rem;
    }

    10% {
        transform: translateZ(0rem);
    }

    20% {
        transform: translateZ(10rem) translateZ(0rem);
    }

    35% {
        transform: translateZ(10rem) translateZ(0rem);
    }

    40% {
        transform: translateZ(10.0rem) translateZ(10.0rem);
        background-color: #ffffff;
    }

    50% {
        transform: translateZ(10.0rem) translateZ(10.0rem);
        background-color: #1f1f1f;
    }

    55% {
        transform: translateZ(10.0rem) translateZ(10.0rem);
    }

    60% {
        transform: translateZ(10.0rem) translateZ(0rem);
    }

    75% {
        transform: translateZ(10.0rem)
    }

    80% {
        transform: translateZ(0rem);
    }

    85% {
        width: 10.0rem;
        height: 10.0rem;
    }

    90% {
        width: 0rem;
        height: 0rem;
    }

    100% {
        width: 0rem;
        height: 0rem;
        background-color: #1f1f1f;
    }
}


@keyframes abajo {
    0% {
        width: 0rem;
        height: 0rem;
    }

    5% {
        width: 10.0rem;
        height: 10.0rem;
    }

    10% {
        transform: translateZ(0rem);
    }

    20% {
        transform: translateZ(0rem);
    }

    35% {
        transform: translateZ(0rem) translateZ(0rem);
    }

    40% {
        transform: translateZ(0.0rem) translateZ(-3.0rem);
        background-color: #ffffff;
    }

    50% {
        transform: translateZ(0.0rem) translateZ(-3.0rem);
        background-color: #1f1f1f;
    }

    55% {
        transform: translateZ(0.0rem) translateZ(-3.0rem);
    }

    60% {
        transform: translateZ(0.0rem) translateZ(0rem);
    }

    75% {
        transform: translateZ(0.0rem)
    }

    80% {
        transform: translateZ(0rem);
    }

    85% {
        width: 10.0rem;
        height: 10.0rem;
    }

    90% {
        width: 0rem;
        height: 0rem;
    }

    100% {
        width: 0rem;
        height: 0rem;
        background-color: #1f1f1f;
    }
}


@keyframes fondo {
    0% {
        background-color: #e0e0e0;
    }

    40% {
        background-color: #e0e0e0;
    }

    50% {
        background-color: #000000;
    }

    80% {
        background-color: #000000;
    }

    90% {
        background-color: #e0e0e0
    }

    100% {
        background-color: #e0e0e0;
    }
}